header {
  width: 100%;
  color: #fff;
  background: #67cc67;
  height: 70px;
  position: fixed;
  z-index: 10; }
  header .logo {
    display: inline-block; }
    header .logo_a {
      text-decoration: none;
      color: #fff; }
    header .logo_text {
      font-size: 30px;
      font-family: 'Kaushan Script', cursive;
      display: inline-block;
      padding-bottom: 8px;
      vertical-align: middle;
      padding-right: 30px; }
    header .logo img {
      padding-left: 25px;
      padding-bottom: 8px;
      vertical-align: middle; }
  header nav {
    display: inline-block; }
    header nav a {
      display: inline-block;
      padding: 23px 20px;
      color: #fff;
      height: 70px;
      font-size: 17px; }
      header nav a:hover {
        text-decoration: none;
        background: #fff;
        color: #67cc67; }
      header nav a:active {
        text-decoration: none;
        background-color: #cafcca;
        color: #fff; }
  header .contaxt-block {
    float: right;
    padding: 10px 15px; }
    header .contaxt-block_img {
      vertical-align: middle;
      padding-right: 5px;
      height: 21px; }
    header .contaxt-block_phone {
      display: inline-block;
      vertical-align: middle;
      font-size: 23px; }
    header .contaxt-block_text {
      font-size: 11px;
      padding-left: 60px;
      padding-top: 3px; }

main {
  background: url(../img/header/effect.png) no-repeat center, url(../img/header/welcome.jpg) no-repeat #67cc67 fixed;
  height: 100vh;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff; }
  main .welcome_text {
    margin-left: 27px;
    padding-top: 170px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase; }
    main .welcome_text p {
      background-color: #67cc67;
      padding-left: 12px;
      display: inline-block;
      padding-right: 12px; }
    main .welcome_text_free {
      margin-top: 95px;
      font-size: 16px;
      color: #666666; }
      main .welcome_text_free-it {
        color: #ff9933; }
  main .welcome_button {
    margin-right: 10px; }

.plus {
  padding-top: 100px;
  padding-bottom: 70px; }
  .plus_items {
    text-align: center; }
    .plus_items_work {
      padding: 0 25px 50px 25px; }
    .plus_items-img {
      padding: 30px 30px; }
    .plus_items-paragraph {
      font-size: 19px;
      color: #666666;
      font-weight: 600; }
      .plus_items-paragraph-text {
        color: #82766c; }

.types {
  padding-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666666; }
  .types-items {
    padding: 12px;
    margin-bottom: 70px; }
    .types-items_text {
      padding-top: 19px; }
    .types-items_img {
      width: 230px;
      height: 230px; }

.button.types-items_button {
  margin-top: 5px;
  width: 100px;
  height: 41px;
  background-color: #66cc66;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-transform: uppercase; }
  .button.types-items_button.button_mr {
    margin-right: 2px; }

.consultation {
  padding: 120px 0; }
  .consultation-img {
    width: 200px;
    height: 190px; }
  .consultation_block-header {
    color: #ff9933;
    font-size: 22px;
    font-weight: 700; }
  .consultation_block-paragraph {
    padding-top: 40px;
    color: #82766c;
    font-size: 16px;
    font-weight: 300; }

.consultation-comment {
  padding-top: 50px;
  background-color: #f5f5f5; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  border: 5px solid #ff9933; }

.fotorama__dot {
  border: 5px solid #cccccc; }

.fotorama__thumb-border {
  border-color: #ff9933; }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1; }

.comment {
  padding-bottom: 90px; }

.footer-slider {
  height: 20%;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4); }
  .footer-slider_text {
    font-size: 22px;
    padding-left: 40px;
    display: inline-block;
    padding-top: 30px; }

.fotorama__arr--next {
  background: url(../img/slider/next.png) no-repeat;
  width: 34px;
  height: 34px;
  margin-top: -22px;
  right: 17px; }

.fotorama__arr--prev {
  background: url(../img/slider/prev.png) no-repeat;
  width: 34px;
  height: 34px;
  margin-top: -22px;
  left: 17px; }

.contact_block {
  padding-top: 80px; }
  .contact_block-header {
    color: #fff;
    font-size: 20px;
    font-weight: 700; }
    .contact_block-header-text {
      display: inline-block;
      padding-top: 20px;
      color: #cccccc;
      font-size: 13px;
      font-weight: 300; }
  .contact_block-paragraph {
    padding-top: 30px; }
  .contact_block img {
    width: 8px;
    height: 11px; }
  .contact_block-text {
    color: #f8f8f8;
    font-size: 17px;
    font-weight: 300; }

.contact p.copyright {
  padding-top: 50px;
  font-size: 11px;
  color: #808080;
  display: inline-block; }

.contact p.author {
  font-size: 11px;
  padding-top: 45px;
  display: inline-block;
  float: right;
  color: #b3b3b3; }
  .contact p.author a.author_vk {
    color: #f8f8f8; }

.button.contact-button {
  border: 2px solid #fff;
  color: #fff; }

.map {
  margin-top: 80px;
  width: 550px;
  height: 334px;
  background-color: #cccccc; }

.form_top {
  margin-top: 100px; }

.form-header {
  color: #777777;
  text-align: center;
  font-size: 27px; }
  .form-header_text {
    color: #777777;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 30px; }

#contact {
  background: #F9F9F9;
  padding: 40px 30px 45px 30px;
  margin: 30px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  #contact input {
    color: #808080;
    outline: none;
    width: 100%;
    border: 1px solid #ccc;
    margin: 7px 0;
    padding: 10px; }
    #contact input:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -o-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa; }
  #contact button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px; }
    #contact button:hover {
      background: #43A047;
      -webkit-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out; }
    #contact button:active {
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }
    #contact button:focus {
      outline: none; }

.overlay {
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  opacity: .5; }

.visible {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  z-index: 20;
  width: 500px;
  margin-left: -250px; }

#close {
  position: absolute;
  margin-top: -453px;
  margin-left: 430px;
  font-size: 20px;
  padding: 0 10px 2px 11px;
  border: solid 1px #d4d4d4;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  color: #d4d4d4;
  outline: none; }
  #close:hover {
    cursor: pointer;
    color: #4CAF50;
    border: solid 1px #4CAF50; }

.four {
  background: #F4F7EE;
  padding: 120px 20px 50px 20px;
  text-align: center; }

.four h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #4CAF50;
  font-size: 55px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 1; }

.four h1:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid #4CAF50;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (max-width: 1200px) {
  header .logo {
    display: none; }
  .welcome_span {
    display: none; } }

@media (max-width: 991px) {
  header nav {
    display: none; }
  .welcome_span {
    display: block; }
  .welcome_text_p {
    font-size: 19px; }
  main .welcome_text_free {
    display: none; }
  .contact p.author {
    padding-top: 0;
    float: none; }
  .contact p.copyright {
    display: block; }
  .contact {
    text-align: center; }
  .map {
    display: none; } }

@media (max-width: 767px) {
  .welcome_text {
    display: none; }
  div .welcome_div {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: block;
    margin-top: 130px;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #FFB533;
    padding: 0 5px;
    text-align: center; }
  .consultation-img {
    display: none; }
  .consultation_block {
    text-align: center; }
  .form {
    margin-top: 10px; }
  main {
    height: 125vh; }
  .footer-slider_text {
    font-size: 17px;
    padding-top: 12px; } }

@media (max-width: 576px) {
  header {
    height: 60px; }
    header .contaxt-block {
      float: right; }
      header .contaxt-block_img {
        display: none; }
      header .contaxt-block_phone {
        font-size: 19px;
        float: right; }
      header .contaxt-block_text {
        font-size: 10px; }
  .form-header_text {
    font-size: 13px;
    padding-bottom: 0; }
  .form-header {
    font-size: 23px; }
  .visible {
    margin-top: -250px;
    width: 330px;
    margin-left: -165px; }
  #close {
    margin-top: -440px;
    margin-left: 260px; }
  .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
    opacity: 0; } }

body {
  font-family: Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

p {
  margin-bottom: 16px; }

.bgc {
  background-color: #f8f8f8; }
  .bgc_4 {
    background-color: #666666; }

.welcome_div {
  display: none; }

#header-block {
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666666;
  text-align: center; }

.button {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.09), 0 5px 5px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.09), 0 5px 5px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
  -webkit-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
  margin-top: 20px;
  width: 263px;
  height: 60px;
  border: 2px solid #ff9933;
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #ff9933; }
  .button:hover {
    border: none;
    background-color: #f5ab00;
    color: #fff; }
  .button:active {
    border: 2px solid #f5ab00;
    background-color: rgba(245, 171, 0, 0.18);
    color: #f5ab00; }
  .button:focus {
    outline: none; }
